.claude
.code
.idea
CLAUDE.md
/ISG/
/app/tc.conf
/app/config.yaml
**/*.cmd
**/*.ko
**/*.o
**/*.so
*.mod
*.mod.c
kernel/Module.symvers
kernel/modules.order
kernel/build.h
kernel/Makefile
/testing
__pycache__
